@import "tailwindcss";

:root{
  --bg: #d6d8cb;
  --text: #111827;
  --divMain: #9ea5b4;
  --div2: #828a9b;
  transition: background-color .2s ease-in, color .2s ease-in;
}

[data-theme="dark"]{
  --bg: #0b1220;
  --text: #e6eef8;
  --divMain: #484252;
  --div2: #403441;
}


.divMain{
  background-color: var(--divMain);
}

.div2{
  background-color: var(--div2);
}

body{
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}