<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 1. Aseguramos que la aplicación Node (Hono) SÍ pueda ejecutarse en /api
  <Location /api>
    PassengerEnabled on
  </Location>

  # 2. Apagamos Passenger para que NO intercepte los estáticos de Astro en la raíz
  PassengerEnabled off

  # 3. Regla para SPA (Astro) si el archivo físico no existe
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/api [NC]
  RewriteRule ^ index.html [QSA,L]
</IfModule>
